/.idea
*output*/
__pycache__
config/exp*
scripts/
*slurm*
tmp
notebooks
.vscode
older*/
*.pt
*.pth
environment.yml
*zip*
*build*
*dist/
*.egg-info/
*.so
sky_img
sam_vit_h_4b8939.pth
repvit_sam.pt
*.ply
output/
.secret
*.splat