transformers==4.37.2
diffusers==0.24.0
omegaconf
ipdb
kornia
opencv-python
einops
imageio[ffmpeg]
plyfile
scipy
matplotlib
scikit-image
accelerate
spacy==3.7.6
flask
flask_cors
flask_socketio
openai==1.46.0
lpips
timm==0.6.12
tyro
scikit-learn
av
easydict==1.13
mediapy==1.2.2
huggingface-hub==0.24.6
